VITE_TVDB_API_KEY=1d10823a-33f4-4062-8f28-7d15d58fb490
VITE_TURSO_DB_URL=libsql://tracking-series-fabricio-alvarez.aws-us-east-1.turso.io
VITE_TURSO_DB_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NTA2MTMyNzYsImlkIjoiYWViNTMxMWMtYzBkZS00MmZiLThhNmMtYTM3NDcyMzBkNDA5IiwicmlkIjoiMThiMzJhMDEtMmQ4Ny00NGY2LTgxNTctZDJjOWZjZGI2NzRhIn0.UyYJTj-oJTm5JLoWTMsI2GC7PenVLNClX4kAp8ZpYyYLPVIpd-cCwaHGBP5WamFpTzMtPjM9FDrHti_RLG_HAA
